@media only screen and (max-width: 426px) {
    .cuerpo {
        width: 100%;
        height: 100px;
    }

    .divimg1{
        height: 100px;
    }
    
    .img1{
        width: 75px;
        

    }

    .divimg2img3{
        width: 75px;
    }

    .img3{
        width: 1500px;
    }

    
}